<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      @import url("observable:styles/index.css");
      @import url("@fontsource/spline-sans-mono/400.css");
      @import url("@fontsource/spline-sans-mono/600.css");
      @import url("@fontsource/spline-sans-mono/700.css");
      @import url("@fontsource/spline-sans-mono/400-italic.css");
      @import url("@fontsource/spline-sans-mono/600-italic.css");
      @import url("@fontsource/spline-sans-mono/700-italic.css");
      @import url("@fontsource/source-serif-4/400.css");
      @import url("@fontsource/source-serif-4/700.css");
      @import url("@fontsource/source-serif-4/400-italic.css");
      @import url("@fontsource/source-serif-4/700-italic.css");
      @import url("@fontsource/inter/400.css");
      @import url("@fontsource/inter/500.css");
      @import url("@fontsource/inter/600.css");
      @import url("@fontsource/inter/700.css");
      @import url("@fontsource/inter/400-italic.css");
      @import url("@fontsource/inter/500-italic.css");
      @import url("@fontsource/inter/600-italic.css");
      @import url("@fontsource/inter/700-italic.css");
    </style>
    <style>
        p, table, figure, figcaption, h1, h2, h3, h4, h5, h6, .katex-display {
          max-width: unset;
        }

        blockquote, ol, ul {
          max-width: unset;
        }
    </style>
  </head>
  <body>
    <a href="../index.html">Charming</a>
    <main></main>
  </body>
</html>

